@import 'node_modules/bootstrap/scss/bootstrap';

$primary: #007bff;
$secondary: #6c757d;

#app {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
  main {
    flex: 1;
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f1f8fe;
    > nav{
      display: flex;
      align-items: center;
      height: 60px;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      padding: 0 2rem;
      h1{
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 0;
      }
      .profile{
        .imgProfile{
          width: 31px;
          height: 31px;
          background-color: #1e293b;
          border-radius: 100%;
          padding: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }
        button{
          display: flex;
          align-items: center;
          background-color: transparent;
          padding: 0;
          border: none;
          font-weight: 600;
          &::after{
            display: none;
          }
        }
        .dropdown-menu{
          li{
            a{
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
.cardDashboard{
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  .topicCard{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .fieldSearch{
    margin-bottom: 30px;
  }
  .vue3-easy-data-table{
    border-radius: 6px;
    table{
      thead{
        tr{
          th{
            background-color: #1e293b;
            color: #fff;
            height: 50px;
            font-size: 16px;
            span{
              font-weight: 700 !important;
            }
            &:first-child{
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
            }
            &:last-child{
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }
        }
      }
      tbody{
        tr{
          td{
            height: 50px;
            font-size: 14px;
          }
        }
      }
      .operation-wrapper{
        display: flex;
        align-items: center;
        gap: 15px;
        span{
          width: 20px;
          cursor: pointer;
          color: gray;
        }
      }
    }
  }
  form{
    .form-group{
      margin-bottom: 15px;
      label{
        font-weight: 500;
      }
    }
    .imageDicom{
      margin: 35px auto 0;
      max-width: 700px;
      img{
        max-width: 100%;
        object-fit: cover;
      }
    }
    .btnGroup{
      display: flex;
      gap: 15px;
      justify-content: center;
      margin-top: 30px;
      
    }
  }
  button{
    font-weight: 700;
    color: #000;
    border-radius: 6px;
    max-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    &.btnCancle{
      background-color: #cecece;
      color: #fff;
    }
    &.btnSave{
      background-color: #1e293b;
      color: #fff;
    }
    &.btnAdd{
      background-color: #40b883;
      color: #fff;
    }
  }
}